# To custom categories or to edit the block lists, see the categories.yml

MetricsEnabled: true
PerformUpdateChecks: true

DefaultActivationStrategy: SNEAK
DefaultVeinMiningPattern: 'veinminer:default'
CollectItemsAtSource: true
CollectExperienceAtSource: true
OnlyDamageOnFirstBlock: false
NerfMcMMO: false
Jobs:
  NerfExpGain: false
  NerfCurrencyGain: false

# "RepairFriendly", "MaxVeinSize", "Cost", and "DisabledWorlds" may be
# defined per-category in the categories.yml file
RepairFriendly: false
MaxVeinSize: 64
Cost: 0.0
DisabledWorlds:
- WorldName

DisabledGameModes:
- CREATIVE
- SPECTATOR

Hunger:
  HungerModifier: 2.5
  MinimumFoodLevel: 1

Client:
  AllowActivationKeybind: true
  AllowPatternSwitchingKeybind: true
  AllowWireframeRendering: true

# VeinMiner supports 3 different types of storage (SQLite is used by default)
#   JSON: Each player's data is stored in its own JSON file under the specified directory. Creates lots of files, is very messy, and is generally discouraged.
#   SQLite: Player data is stored in an SQLite database table. A flat file database. Generally faster and more compact than JSON.
#   MySQL: Player data is stored remotely in a MySQL-compliant database (MySQL, MariaDB, etc.). Use this if you want to share VeinMiner data on multiple servers and have a MySQL server available to use.
Storage:
  # Can be either "JSON", "SQLite", or "MySQL"
  Type: 'SQLite'

  JSON:
    Directory: '%plugin%/playerdata/'

  MySQL:
    Host: 'localhost'
    Port: 3306
    Username: 'username'
    Password: 'password'
    Database: 'veinminer'
    TablePrefix: 'veinminer_'

Aliases:
  acacia_wood:
  - 'minecraft:acacia_log'
  - 'minecraft:acacia_wood'
  birch_wood:
  - 'minecraft:birch_log'
  - 'minecraft:birch_wood'
  mushroom_blocks:
  - 'minecraft:brown_mushroom_block'
  - 'minecraft:red_mushroom_block'
  pumpkins:
  - 'minecraft:carved_pumpkin'
  - 'minecraft:pumpkin'
  cherry_wood:
  - 'minecraft:cherry_log'
  - 'minecraft:cherry_wood'
  crimson_wood:
  - 'minecraft:crimson_hyphae'
  - 'minecraft:crimson_stem'
  dark_oak_wood:
  - 'minecraft:dark_oak_log'
  - 'minecraft:dark_oak_wood'
  grass:
  - 'minecraft:short_grass'
  - 'minecraft:tall_grass'
  jungle_wood:
  - 'minecraft:jungle_log'
  - 'minecraft:jungle_wood'
  mangrove_wood:
  - 'minecraft:mangrove_log'
  - 'minecraft:mangrove_wood'
  oak_wood:
  - 'minecraft:oak_log'
  - 'minecraft:oak_wood'
  pale_oak_wood:
  - 'minecraft:pale_oak_log'
  - 'minecraft:pale_oak_wood'
  spruce_wood:
  - 'minecraft:spruce_log'
  - 'minecraft:spruce_wood'
  warped_wood:
  - 'minecraft:warped_hyphae'
  - 'minecraft:warped_stem'
